.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.wrapper {
    max-width: 100vw;
    padding: 0 31px;
    margin: 0 auto;
}

.songs_list{
    margin: 0 auto;
}

.header span {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.header button {
    background: none;
    color: #34c94b;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.songs_list{
    margin: 0 auto;
}




