.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion_header {
    font-size: 20px;
    font-weight: 600;
    color: white;
}



.container{
    margin: 0 auto;
    max-width: 1750px;
    padding: 0 31px;
}